html, body {
    height: 100%;
  }
  body {
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Slabo';
    font-size: 27px;
  }
  .Screen {
    position: relative;
    width: 100%;
    max-width: 36em;
    height: 20em;
    background-color: #fff;
  }
  .Item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    text-transform: uppercase;
    opacity: 0;
    animation: letterSpacing 6s ease-out;
  }
  .Item:nth-child(1) {
    animation-delay: 0s;
  }
  .Item:nth-child(2) {
    animation-delay: 6s;
  }
  .Item:nth-child(3) {
    animation-delay: 12s;
  }
  @keyframes letterSpacing {
    0% {
      opacity: 0;
      letter-spacing: 1px;
    }
    80% {
      opacity: 1;
      letter-spacing: 1em;
    }
    100% {
      opacity: 0;
      letter-spacing: 1em;
    }
  }
  